<div style="margin-bottom: px;">
    <button type="button" class="btn btn-primary" [routerLink]="['/list-productos']" style="margin-right: 10%;">Productos</button>
    <button type="button" class="btn btn-secondary" [routerLink]="['/list-libros']">Libros</button>
</div>
<router-outlet></router-outlet>