<div class="StyloDivTable">
    <table class="table table-dark">
        <thead>
         <tr>
             <td>Titulo</td>
             <td>Tema</td>
             <td>Precio</td>
             <td>Autor</td>
         </tr>
        </thead>
        <tbody>
            <tr *ngFor="let libro of this.listaLibros">
                <td>{{libro.titulo}}</td>
                <td>{{libro.tema}}</td>
                <td>{{libro.precio}}</td>
                <td>{{libro.autor.nombre}}</td>
            </tr>
        </tbody>
      </table>
</div>

