<div class="StyloDivTable">
    <table class="table table-dark">
        <thead>
         <tr>
             <td>Nombre</td>
             <td>Valor</td>
             <td>Marca</td>
         </tr>
        </thead>
        <tbody>
            <tr *ngFor="let producto of this.lista">
                <td>{{producto.nombre}}</td>
                <td>{{producto.valor}}</td>
                <td>{{producto.marca}}</td>
            </tr>
        </tbody>
      </table>
</div>
